{% extends "polls/base/navbar.html" %}
  {% block context %}
    <h1>
      Today's Vote
    </h1>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success" role="alert">
      <p class="mb-0">{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}
    <div id="content">
      {% if latest_question_list %}
      <ul>
        {% for question in latest_question_list %}
        <li>
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>{% endfor %}
      </ul>{% else %}
      <p>
        No polls are available.
      </p>{% endif %}
    </div>
  {% endblock context %}