a {
	color: rgb(0,52,63);
	text-align: center;
}

h1 {
	color: rgb(1,25,53);
	background-color: rgb(55,198,192);
	padding: 5px;
	font-family: arial,Serif;
}

label[for] {
	color: rgb(0,52,63);
	font-family: arial,Serif;
	padding: 3px;
}

div#content {
	background-color: rgb(208,233,255);
	padding: 10px;
}

div#text {
	padding: 10px;
}

li#vote_text{
	color: rgb(0,52,63);
	font-family: arial,Serif;
	padding: 3px;
}